In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("merged_filtered2.csv")

In [3]:
data.head()

,Unnamed: 0,HH1,HH2,LN,HH7,HL4,wscore,windex5,melevel,CAGE,...,stratum,PSU,magebrt,LS2,SA1,helevel,HW7B,HW7C,WS11,HH48
0,0,1.0,1.0,3.0,Barishal,MALE,1.442586,Richest,Higher secondary+,58.0,...,10041.0,1.0,NaN,NaN,SALT TESTED: ABOVE 15 PPM (AT LEAST 15 PPM),Higher+,DETERGENT (POWDER / LIQUID / PASTE),ASH / MUD / SAND,FLUSH / POUR FLUSH: FLUSH TO SEPTIC TANK,4.0
1,1,1.0,2.0,3.0,Barishal,MALE,0.001265,Middle,Higher secondary+,19.0,...,10041.0,1.0,NaN,NaN,SALT TESTED: ABOVE 15 PPM (AT LEAST 15 PPM),Secondary,DETERGENT (POWDER / LIQUID / PASTE),NaN,PIT LATRINE: PIT LATRINE WITH SLAB,3.0
2,2,1.0,5.0,3.0,Barishal,FEMALE,0.144091,Fourth,Primary,36.0,...,10041.0,1.0,NaN,NaN,SALT TESTED: 0 PPM (NO REACTION),Primary,DETERGENT (POWDER / LIQUID / PASTE),ASH / MUD / SAND,PIT LATRINE: PIT LATRINE WITH SLAB,3.0
3,3,1.0,7.0,5.0,Barishal,MALE,1.256775,Richest,Higher secondary+,45.0,...,10041.0,1.0,NaN,NaN,SALT TESTED: ABOVE 15 PPM (AT LEAST 15 PPM),Secondary,DETERGENT (POWDER / LIQUID / PASTE),NaN,FLUSH / POUR FLUSH: FLUSH TO SEPTIC TANK,5.0
4,4,1.0,10.0,3.0,Barishal,FEMALE,1.389490,Richest,Higher secondary+,54.0,...,10041.0,1.0,NaN,NaN,SALT TESTED: ABOVE 15 PPM (AT LEAST 15 PPM),Higher+,DETERGENT (POWDER / LIQUID / PASTE),ASH / MUD / SAND,FLUSH / POUR FLUSH: FLUSH TO SEPTIC TANK,3.0

In [4]:
print(data.columns)

Index(['Unnamed: 0', 'HH1', 'HH2', 'LN', 'HH7', 'HL4', 'wscore', 'windex5',
       'melevel', 'CAGE', 'chweight', 'CA1', 'CA14', 'CA16', 'CA17', 'CA18',
       'stratum', 'PSU', 'magebrt', 'LS2', 'SA1', 'helevel', 'HW7B', 'HW7C',
       'WS11', 'HH48'],
      dtype='object')

In [6]:
data[['CA1', 'CA14', 'CA16', 'CA17', 'CA18']].head()

  CA1 CA14 CA16 CA17 CA18
0  NO   NO   NO   NO  NaN
1  NO  YES   NO   NO  NaN
2  NO   NO   NO   NO  NaN
3  NO   NO   NO   NO  NaN
4  NO   NO   NO   NO  NaN

In [8]:
data[['CA1', 'CA14', 'CA16', 'CA17', 'CA18']].tail()

       CA1 CA14 CA16 CA17 CA18
24681   NO   NO   NO   NO  NaN
24682   NO   NO   NO   NO  NaN
24683   NO   NO   NO   NO  NaN
24684  YES  YES  YES   NO  NaN
24685   NO  YES   NO   NO  NaN

In [10]:
data['CA18'].value_counts()

BLOCKED OR RUNNY NOSE ONLY    1589
PROBLEM IN CHEST ONLY          348
BOTH                           182
OTHER                            1
DK                               1
Name: CA18, dtype: int64

In [11]:
data['CA17'].value_counts()

NO     20963
YES     2121
DK        17
Name: CA17, dtype: int64

In [12]:
data['CA16'].value_counts()

NO     18156
YES     4936
DK         9
Name: CA16, dtype: int64

In [13]:
data['CA14'].value_counts()

NO     17756
YES     5335
DK        10
Name: CA14, dtype: int64

In [15]:
data['CA1'].value_counts()

NO             21498
YES             1589
DK                13
NO RESPONSE        1
Name: CA1, dtype: int64

In [18]:
def missing_values(dataframe):
    d = {}
    cols_with_missing = [col for col in dataframe.columns
                            if dataframe[col].isnull().any()]
    for i in cols_with_missing:
        d[i] = dataframe[i].isnull().sum()
    return d

In [20]:
print(missing_values(data[['CA1', 'CA14', 'CA16', 'CA17', 'CA18']]))

{'CA1': 1585, 'CA14': 1585, 'CA16': 1585, 'CA17': 1585, 'CA18': 22565}

In [22]:
len(data)

24686

In [26]:
data[['HW7B', 'HW7C']].head(50)

                                   HW7B              HW7C
0   DETERGENT (POWDER / LIQUID / PASTE)  ASH / MUD / SAND
1   DETERGENT (POWDER / LIQUID / PASTE)               NaN
2   DETERGENT (POWDER / LIQUID / PASTE)  ASH / MUD / SAND
3   DETERGENT (POWDER / LIQUID / PASTE)               NaN
4   DETERGENT (POWDER / LIQUID / PASTE)  ASH / MUD / SAND
5   DETERGENT (POWDER / LIQUID / PASTE)               NaN
6   DETERGENT (POWDER / LIQUID / PASTE)  ASH / MUD / SAND
7   DETERGENT (POWDER / LIQUID / PASTE)  ASH / MUD / SAND
8   DETERGENT (POWDER / LIQUID / PASTE)               NaN
9                                   NaN               NaN
10                                  NaN               NaN
11                                  NaN               NaN
12                                  NaN               NaN
13                                  NaN               NaN
14                                  NaN               NaN
15                                  NaN               NaN
16                                  NaN               NaN
17                                  NaN               NaN
18  DETERGENT (POWDER / LIQUID / PASTE)  ASH / MUD / SAND
19  DETERGENT (POWDER / LIQUID / PASTE)               NaN
20                                  NaN               NaN
21  DETERGENT (POWDER / LIQUID / PASTE)               NaN
22                                  NaN               NaN
23  DETERGENT (POWDER / LIQUID / PASTE)  ASH / MUD / SAND
24  DETERGENT (POWDER / LIQUID / PASTE)  ASH / MUD / SAND
25  DETERGENT (POWDER / LIQUID / PASTE)  ASH / MUD / SAND
26                                  NaN               NaN
27                                  NaN               NaN
28                                  NaN               NaN
29  DETERGENT (POWDER / LIQUID / PASTE)  ASH / MUD / SAND
30  DETERGENT (POWDER / LIQUID / PASTE)               NaN
31                                  NaN               NaN
32                                  NaN               NaN
33                                  NaN               NaN
34  DETERGENT (POWDER / LIQUID / PASTE)  ASH / MUD / SAND
35                                  NaN               NaN
36                                  NaN               NaN
37  DETERGENT (POWDER / LIQUID / PASTE)  ASH / MUD / SAND
38                                  NaN               NaN
39                                  NaN               NaN
40  DETERGENT (POWDER / LIQUID / PASTE)               NaN
41  DETERGENT (POWDER / LIQUID / PASTE)  ASH / MUD / SAND
42                                  NaN               NaN
43  DETERGENT (POWDER / LIQUID / PASTE)  ASH / MUD / SAND
44                                  NaN               NaN
45                                  NaN               NaN
46                                  NaN               NaN
47                                  NaN               NaN
48  DETERGENT (POWDER / LIQUID / PASTE)  ASH / MUD / SAND
49                                  NaN               NaN

In [24]:
data['HW7B'].value_counts()

DETERGENT (POWDER / LIQUID / PASTE)    4689
Name: HW7B, dtype: int64

In [25]:
data['HW7C'].value_counts()

ASH / MUD / SAND    3653
Name: HW7C, dtype: int64